Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-assignment-in-if-condition,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-valist.Uninitialized,
  performance-*,
  portability-*,
  misc-*
WarningsAsErrors: >-
  clang-analyzer-*,
  bugprone-*
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
User: covesa